* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-colour: #4e784f;
  --main-card-colour: rgb(4, 42, 36);
  color: #f6f6f6;
}

html {
  font-size: 16px;
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--main-bg-colour);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 0.7fr) 5fr;
  grid-template-rows: 1fr 6fr;
  gap: 1rem;
}

.header {
  grid-row: span 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  gap: 1rem;
  padding: 1rem;
}

.header-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-bar {
  margin-right: auto;
}

.search-bar input {
  width: clamp(100px, 600px, 1000px);
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(234, 233, 233)
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clicks {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(234, 234, 28);
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.profile img {
  background-color: rgb(199, 199, 245);
  border-radius: 50%;
  max-width: 3rem;
  max-height: 3rem;
}

.sidebar {
  grid-row: 1 / span 2;
  padding: 2rem;
  margin-right: -1.5rem;
    background-color: var(--main-bg-colour)
}

.sidebar-container {
  display: grid;
  gap: 3rem;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.nav,
.law {
  display: grid;
  gap: 1rem;
}

.sidebar-container p {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
}

.logo img {
  max-width: 3rem;
  border-radius: 5%;
}

.main {
  display: grid;
  grid-template-columns: minmax(400px, 3fr) 1fr;
  padding: 0 2rem 2rem;
  gap: 2rem;
}

.delivery-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.user-activity,
.fleet-status {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-radius: 10px;
  padding: 1rem 1.5rem;
  background-color: var(--main-card-colour);
}

.delivery-card {
  border-radius: 10px;
  padding: 1rem 1.5rem;
  transition: transform 0.2s ease;
  line-height: 2;
  background-color: var(--main-card-colour);
}

.delivery-card:hover,
.fleet-card:hover,
.user-card:hover {
  transform: translateY(-5px);
}

h2 {
  margin-bottom: 1rem;
}

.sub-title {
  margin-top: 2rem;
}

.fleet-card,
.user-card {
  line-height: 2;
  padding: 10px;
  border-bottom: 1px solid rgb(234, 234, 28);
}

/* Remove border from last item */
.user-card:last-child,
.fleet-card:last-child {
  border-bottom: none;
}
