* {
  margin: 0;
  padding: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    grid-row: span 1;
    grid-column: 2/ span 1;
    background-color: blue;
}

.sidebar{
    background-color: red;
    grid-row: 1/span 2;
}

.main{
    background-color: green;
}